<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ChapeauDatabase" connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=dbchapeau10;&#xD;&#xA;         User Id=dbchapeau10;Password=Yk89!!2Yqz3J" />
    <add name="ChapeauUI.Properties.Settings.dbchapeau10ConnectionString"
      connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=dbchapeau10;Persist Security Info=True;User ID=dbchapeau10"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>